@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body {
  background: #DBC5C2;
  color: #2E2A28;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a {
  color: #1F2A44;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
